body { 
    font-family: Rubik;
    background-color: #f2994b;
    color: #023859;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Ibarra Real Nova";
    text-align:center;
}

h1 {
    font-size: 50pt;
}

h2 {
    margin: .1em
}

header {
    text-align: center;

}

#hero, footer {
   color: #FFFFFF;
   border: 2px solid;
    background-color: #0487D9;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-size-adjust: 40px;
    text-align:center;
}

/* Hobbies Section */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:first-child {
    color:red;
}

#hobbies ul li:nth-child(2) {
    color:green;
}

#hobbies ul li:nth-child(3) {
    color:blue;
}

#hobbies ul li:nth-child(4) {
    color:yellow;
}

#hobbies ul li:nth-child(5) {
    color: white;
}

#hobbies ul li:nth-child(6) {
    color:purple;
}

/* Gallery */

#gallery {
    border: 2px solid #0487D9;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

#gallery figcaption {
    color:wheat;

}

/* Literature */

#lit {
    border: 2px solid #0487D9;
    margin-bottom:2rem;

}

#lit div {
    padding:2rem;
    max-width:40rem;
    margin: 0 auto;

}

#lit div p {
    padding: 0.5rem 0;
    clear:both;
    margin: 1rem;
}

/* Dropcaps */

#lit div p::first-letter {
    float:left;
    font-size:3em;
    padding:.6em;
    color:#0487D9;
    line-height: 0.25rem;
    
}

#lit div p {
    font-size: 1.3rem;
   
} 

#lit div p:nth-child(odd) {

    color:#FFFFFF;
    
}


#lit div p:nth-child(even) {

    color:white;
    
}

/* Media */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        margin-left: 1rem;
    }

}






