body { 
    font-family: Rubik;
    background-color: #f2994b;
    color: #023859
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Ibarra Real Nova";
    text-align:center
}

h1 {
    font-size: 50pt
}

header {
    text-align: center;

}

#hero, footer {
   color: #FFFFFF;
   border: 2px solid;
    background-color: #0487D9;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

#bio {
    text-size-adjust: 40px;
    text-align:center;
}

#hobbies ul li:first-child {
    color:red
}

#hobbies ul li:nth-child(2) {
    color:green
}

#hobbies ul li:nth-child(3) {
    color:blue
}

#hobbies ul li:nth-child(4) {
    color:yellow
}

#hobbies ul li:nth-child(5) {
    color: white
}

#hobbies ul li:nth-child(6) {
    color:purple
}